body{
 background: url(dank-terpenes-diy-vape-liquid.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   } 
   
   
   
   @media screen and (max-width: 1280px) { body {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { .tab  {width: 970px;} }
@media screen and (max-width: 992px) { .tab2  {width: 970px;} }
@media screen and (max-width: 992px) { .img-fluid  {width: 970px;} }
   


.col-sm {
	color:white;
	font-size: 1.75rem;
	text-align: center;
	padding: 30px 20px 30px;
}   
.img-fluid {
	    margin: auto; 
		
   }
 .tab {
	 border:solid;
	 border-color:gray;
	 border-width:0px;
	  margin: auto;
	  width: 1100px;
	  height: 800px;  
 }
 
  .tab2 {
	 margin: auto;
	 width: 1350px;
	 height: 1000px;  
	 	text-align: left;
	  background: url(10.webp) no-repeat center;
	  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 }
 
 
 span {
	 color:yellow;
 }
 
 .col1 { 
	 background-color: #151515;
	 color:white;
	 width:33%;
	 font-size: 1.75rem;
 }
  .col2 {
	 
	 background-color: #2E2E2E;
	 color:white;
	 width:33%;
	 font-size: 1.75rem;
	 
 }
  .col3 {
	 background-color: black;
	 color:white;
	 width:33%;
	 font-size: 1.75rem;
 }
  .col4 {
	 background-color: #2E2E2E;
	 color:white;
	 font-size: 1.75rem;
 }
  .col5 {
	 background-color: #151515;
	 color:white;
	 font-size: 1.75rem;
 }
 
   .col6 {
	 color:white;
	 font-size: 1.75rem;
	 text-align: left;
	 text-align: left;
 }
 .p1 {
	 width:600px;
 }
 .logo {
	 width:39px;
	 height:39px;
	 display: block;
    margin-left: auto;
    margin-right: auto;
	
 }
 .edwlogo{
	 color:white;
	 padding: 10px 20px 30px;
 }
 .zag2 {
	 text-align:center;
	 color:white;
	 font-size:45px;
	 padding: 80px 20px 30px;
 }
 
 .p2 {
	 text-align:center;
	 color:white;
	 font-size:17px; 
 }
 
 
 .countdown{
list-style:none;
margin:6px 0 0 0;
padding:0;
display: block;

}
	
.countdown li{display: inline-block;}

/* здесь дни, часы, минуты, секунды */
.countdown li span{
width:100%;
color:white;
font:30px Verdana;
display:inline-block;}

/* разделители . и : */	
.countdown li.seperator {
color:white;
font:30px Verdana;
vertical-align:top;}
	
.countdown li div{
margin:0;
color: white;
font:25pt Verdana;}
  
  
  .knopka {
	  background: url(noroot.png);
	  COLOR:WHITE;
	  display: block;
    margin-left: auto;
    margin-right: auto;
	width:22%;
	height:10%;
	border:0px;
  }